:root {
  font-family: 'Nippo', sans-serif;
  color: rgb(255,255,227);
  background-color: #0F0F0E;
}

button {
  font-family: 'Nippo', sans-serif;
  color: rgb(255,255,227);
  background-color: #0F0F0E;
}

.hidden {
  display: none;
}

h1 {
  font-size: 100px;
}

p {
  font-size: 25px;
}